.metadata/
RemoteSystemsTempFiles/
eureka/.settings/
eureka/eureka-server/.settings/
eureka/base/.settings/
eureka/base/target/
eureka/biz-front/.settings/
eureka/ptInterface/.settings/
.recommenders/
*.prefs
*.component
*.xml
*.properties
*.MF
*.gitignore
*.project
eureka/biz-front/bin/
